
.container-fluid {
	margin-top: 56px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.7 !important;
}
  
  ul {
    list-style: none;
  }
  /*
   * Sidebar
   */
  
  .sidebar-left {
    position: fixed;
    top: 37px;
    bottom: 0;
    left: 0;
    padding: 20px 0;
    overflow-y: auto;
    transition: opacity 200ms ease-out;
  }
  

  .sidebar-button {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    background-image: url('../resources/img/category.jpg') no-repeat center;
  }
  
.sidebar-button-active {
	position: relative;
}
  
.sidebar-right {
	transition: opacity 200ms ease-out;
}

.sidebar-right-active {
	position: absolute;
	right: 0;
	overflow-y: auto;
	height: 100%;
}

.sidebar-left-active {
	position: absolute;
	left: 0;
	top:0;
	overflow-y: auto;
	height: 100%;
}
  
#sidebar-left::-webkit-scrollbar-track, document
{
	background-color: #F5F5F5;
	border-radius: 5px;
}

#sidebar-left::-webkit-scrollbar, body::-webkit-scrollbar
{
	width: 3px;
	background-color: white;
}

#sidebar-left::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb
{
	background-color: gray;
	border-radius: 50%;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-track {
    width: 7px;
}

  .bg-orange {
    background-color: #F0534D;
  }

  .border-white {
    border: 1px solid rgb(255, 255, 255);
  }

  .border-orange {
    border: 1px solid #F0534D;
  }

  .cursorable:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  


#search-box {
	width:150px;
	-webkit-transition: width 1s, background-color 1s;
	transition: width 1s, background-color 1s;
}
#search-box:focus {
	width: 200px;
	background-color: transparent;
}

@media (max-width:767px){.custom-hidden-sm-down{opacity: 0 !important}}

.font-blog-body {
	font-family: Programme,sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.75;
}

.font-blog-title {
	font-family: Programme,sans-serif;
	font-weight: bold;
	font-size: x-large;
}

.font-menu {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 16px;
	font-weight: normal;
}

